body{
    background: rgb(24,24,25);
    background: linear-gradient(90deg, rgba(24,24,25,1) 0%, rgba(18,48,92,1) 100%);
    font-family: "Gotham-Black", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 70px;
    background-color: rgb(28, 28, 28);
}

.main{
    margin-top: 100px;
    margin-left: 280px;
}

a{
    text-decoration: none;
    color: inherit;
}

.home-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
    padding: 5px;
}

.sidebar{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 70px;;
    left: 0;
    background-color: rgb(25, 25, 25);
    overflow-x: hidden;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    font-weight: 700;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(33, 33, 33);
    text-align: center;
}

.make-review-button{
    position: absolute;
    background: rgb(38,34,184);
    background: linear-gradient(90deg, rgba(38,34,184,1) 0%, rgba(255,0,232,1) 100%);
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 300px;
    height: 60px;
    padding: 8px 10px;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
}

.make-review-button:hover{
    background: rgb(0,177,255);
    background: linear-gradient(90deg, rgba(0,177,255,1) 0%, rgba(255,42,121,1) 100%);
}

.review-form{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    background: rgb(33, 33, 33);
    width: auto;
    border-radius: 15px;
    margin-top: 40px;
}

.form-label{
    font-style: bold;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.form-field{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.review-submit-button{
    position: relative;
    background: rgb(38,34,184);
    background: linear-gradient(90deg, rgba(38,34,184,1) 0%, rgba(255,0,232,1) 100%);
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 180px;
    padding: 8px 10px;
    left: 50%;
    transform: translate(-50%);
}

.review-submit-button:hover{
    background: rgb(0,177,255);
    background: linear-gradient(90deg, rgba(0,177,255,1) 0%, rgba(255,42,121,1) 100%);
}

.review-form-label{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 900;
    font-size: 14px;
}

.alert{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
}

.suggested-review{
    position: block;
    background: rgb(33, 33, 33);
    width: 97%;
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.review-row{
    font-style: bold;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.publish-button{
    position: relative;
    background: rgb(7,0,84);
    background: linear-gradient(90deg, rgba(7,0,84,1) 0%, rgba(31,198,214,1) 100%);
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 180px;
    padding: 8px 10px;
    left: 50%;
    transform: translate(-50%);
}

.publish-button:hover{
    background: rgb(16,0,189);
    background: linear-gradient(90deg, rgba(16,0,189,1) 0%, rgba(0,254,255,1) 100%);
}

.reject-button{
    position: relative;
    background: rgb(144,0,0);
    background: linear-gradient(90deg, rgba(144,0,0,1) 0%, rgba(255,119,95,1) 100%);
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 180px;
    padding: 8px 10px;
    left: 50%;
    transform: translate(-50%);
}

.reject-button:hover{
    background: rgb(232,90,90);
    background: linear-gradient(90deg, rgba(232,90,90,1) 0%, rgba(255,186,174,1) 100%);
}

.all-reviews{
    position: block;
    background: rgb(33, 33, 33);
    width: 97%;
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 30px;
}

.review-row{
    font-style: bold;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.singers-list{
    position: relative;
    background: rgb(33, 33, 33);
    width: 97%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
}

.songs-list{
    position: relative;
    background: rgb(33, 33, 33);
    width: 97%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
}