{% extends "template.html" %}

{% block subtitle %}
All reviews
{% endblock %}

{% block main %}

{% for review in reviews %}

<div class="all-reviews">
    <div class="review-row">Username: {{ review["username"] }}<br></div>
    <div class="review-row">Singer: {{ review["singer"] }}<br></div>
    <div class="review-row">Song: {{ review["song"] }}<br></div>
    <div class="review-row">Review: {{ review["review"] }}<br></div>
    <div class="review-row">Lyrics: {{ review["lyrics"] }}<br></div>
    <div class="review-row">Structure: {{ review["structure"] }}<br></div>
    <div class="review-row">Performance: {{ review["performance"] }}<br></div>
    <div class="review-row">Mixing: {{ review["mixing"] }}<br></div>
    <div class="review-row">Individuality: {{ review["individuality"] }}<br></div>
    <div class="review-row">Charisma: {{ review["charisma"] }}<br></div>
    <div class="review-row">Atmosphere: {{ review["atmosphere"] }}<br></div>
    <div class="review-row">Instrumental: {{ review["instrumental"] }}<br><br></div>

</div>

{% endfor %}

{% endblock %}